body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-image: url(/Starwars/img/universo.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    background-color: rgb(197, 199, 200);
    padding: 40px;
    text-align: center;
}

nav{
    background-color: black;
    overflow: hidden;
}

.boobafet{
    background-image: url("img/piedra.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    text-align: center;
    font-size:35px;
    color: white;
}

#Boton{
    display: flex;
    width: 100%;
}



#info{
    display: flex;
    width: 100%;
    background-color: transparent;
}

#nombreInput{
    text-align: center;
    display: flex;
    width: 63%;

}

#container{
    float: left;
    padding: 20px;
    width: 70%;
   
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

#container p{
     background-color: rgba(0, 0, 0, 0.345);
}


#personajeBox{
    display: flex;
}

.imagen_personaje{
    height: 500px;
    border-radius: 20px;
}


#descripcion{
    padding: 20px;
    width: 30%;
    float: right;
    background-color: rgba(204, 204, 204, 0.505);
    border: #3d3d3d;
    text-align: center;

}

figcaption{
    font-weight: 800;
    text-align: center;
}

.stoorm{
    width: 100%;
    border-radius: 15px;
}

footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
   
}